{{ if .Site.Data.blog.enable}}
{{"<!-- Start Blog Section -->" | safeHTML}}
<section id="blog" class="section">
    <div class="container">
        <div class="row">

            {{"<!-- section title -->" | safeHTML}}
            <div class="title text-center wow fadeInDown">
                <h2> {{ with .Site.Data.blog.heading }} {{ . }} {{ end }} <span class="color"> {{ with .Site.Data.blog.headingSpan }} {{ . }} {{ end }} </span></h2>
                <div class="border"></div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            <div class="clearfix">
                {{ range first 6 (where .Pages "Section" "blog").ByDate }}
                {{"<!-- single blog post -->" | safeHTML}}
                <article class="col-md-4 col-sm-6 col-xs-12 clearfix wow fadeInUp" data-wow-duration="500ms">
                    <div class="post-block">
                        <div class="media-wrapper">
                            {{ with .Params.image }}<img src="{{ . | absURL }}" alt="post-image" class="img-responsive">{{ end }}
                        </div>

                        <div class="content">
                            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                            <p>{{ .Summary }}</p>
                            <a class="btn btn-transparent" href="{{ .Permalink }}">Read more</a>
                        </div>
                    </div>
                </article>
                {{"<!-- /single blog post -->" | safeHTML}}
                {{ end }}
            </div>

            <div class="all-post text-center">
                <a class="btn btn-main" href="{{ .Site.BaseURL | absURL }}/blog">View All</a>
            </div>
        </div>
    </div>
</section>
{{"<!-- /blog -->" | safeHTML}}
{{ end }}