<!DOCTYPE html>
<html class="no-js" lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
        <meta name="author" content="{{ $.Site.Params.author }}">

		{{ "<!-- Mobile Specific Meta -->" | safeHTML }}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ .Hugo.Generator }}
		
        <title> {{ .Title }} </title>
		
		{{"<!-- Favicon -->" |safeHTML}}
		<link rel="shortcut icon" type="image/x-icon" href="{{ "/images/favicon.ico" | absURL }}"/>
		
		{{"<!-- CSS -->"|safeHTML}}
		{{"<!-- Fontawesome Icon font -->"|safeHTML}}
        <link rel="stylesheet" href="{{"/plugins/themefisher-font/style.css" | absURL}}">
		{{"<!-- bootstrap.min css -->"|safeHTML}}
        <link rel="stylesheet" href="{{"/plugins/bootstrap/dist/css/bootstrap.min.css"|absURL}}">
		{{"<!-- Animate.css -->"|safeHTML}}
        <link rel="stylesheet" href="{{"/plugins/animate-css/animate.css"|absURL}}">
        {{"<!-- Magnific popup css -->"|safeHTML}}
        <link rel="stylesheet" href="{{"/plugins/magnific-popup/dist/magnific-popup.css"|absURL}}">
		{{"<!-- Slick Carousel -->"|safeHTML}}
        <link rel="stylesheet" href="{{"/plugins/slick-carousel/slick/slick.css"|absURL}}">
        <link rel="stylesheet" href="{{"/plugins/slick-carousel/slick/slick-theme.css"|absURL}}">
		{{"<!-- Main Stylesheet -->"|safeHTML}}
        <link rel="stylesheet" href="{{"/css/style.css"|absURL}}">

        {{ template "_internal/google_analytics.html" . }}
    </head>
    {{"<!-- body start -->" | safeHTML}}
    <body id="body" data-spy="scroll" data-target=".navbar" data-offset="50"></body>